@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0b1020;
  --foreground: #e6eaf5;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Inter, Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
